<div class="row panel panel-primary" ng-controller="containerCtrl">
  <div class="panel-heading">
    <h2 class="panel-title">Sport social network</h2>
  </div>
  
  <!--     contact list      -->
  <div class="col-xs-5 panel-body">
    <ul class="list-group">
      <li class="list-group-item"> <h4>Matches:</h4>
        <input class="form-control" placeholder="Seach Match" type="text" ng-model="searchText">
        <match class="list-group-item" ng-repeat="contact in contacts | orderBy: 'name' | filter: searchText "></match>
      </li>
    </ul>
  </div>
  
  <!--   ng-view below       -->
  <div class="col-xs-7">
    <div class="list-group panel-body">
      <div ng-view></div>
    </div>
  </div>
    
</div>
