<div class="row panel panel-primary" ng-controller="homeCtrl">
  <div class="panel-heading">
    <h2 class="panel-title">angular contact list app</h2>
  </div>
  
  <!--     contact list      -->
  <div class="col-xs-5 panel-body">
    <ul class="list-group">
      <li class="list-group-item"> <h4>Contacts:</h4>
        <input class="form-control" placeholder="Seach Your Contacts" type="text" ng-model="searchText">
        <contact class="list-group-item" ng-repeat="contact in contacts | orderBy: 'name' | filter: searchText "></contact>
      </li>
    </ul>
  </div>
  
  <!--   ng-view below       -->
  <div class="col-xs-7">
    <div class="list-group panel-body">
      <div ng-view></div>
    </div>
  </div>
    
</div>
