<div class="wrapper">
    <div class="header">
    <ul>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/signup">Sign up</a></li>
        <li><a href="#contact">Help</a></li>
    </ul>
   </div>
    <div class="products category">
        <ul class="list">
            <li>
                <div class="titlePro">	
                    <a href="#">Samsung EC ST500</a>
                    <span>$ 145.00</span>
                    <p class="descTitle">Detailed item information</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </li>
            
            <li>
                <div class="titlePro">	
                    <a href="#">Sony DSC-T7</a>
                    <span>$ 200.00</span
                    <p class="descTitle">Detailed item information</p>
                    <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </li>
                    
            <li>
                <div class="titlePro">	
                    <a href="#">NOTICIAS - Vida Android</a>
                    <span>$ 150.00</span>
                    <p class="descTitle">Detailed item information</p>
                    <p>-60s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </li>        
        </ul>
    </div>
</div>