<div class="list-group-item">
  <h3 class="text-center">{{currentContact.name}}</h3>
  <p>Place: <a ng-href="{{currentContact.email}}">{{currentContact.place}}</a></p>
  <p>Date: <a ng-href="{{currentContact.email}}">{{currentContact.date}}</a></p>
  <p>Time: {{currentContact.time}}</p>
  <p>Team 1: <a ng-href="{{currentContact.url}}">{{currentContact.team0.name}}</a></p>
  <p>Team 2: <a ng-href="{{currentContact.url}}">{{currentContact.team1.name}}</a></p>

  <a ng-href="#/edit/{{contacts.indexOf(currentContact)}}">
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-pencil"></span><span> - Edit</span>
    </button>
  </a>

  <a href="#/">
    <button class="btn btn-default" ng-click="removeContact(currentContact)">
      <span class="glyphicon glyphicon-remove"></span><span> - Remove</span>
    </button>
  </a>
</div>