<div class="container">
    <div class="box" id="sign-up">
        <a class="back" href="#back"><span class="back-arrow">Back</span></a>
        <div class="brand">
            <div class="logo">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <h2 class="title">Sign up now</h2>
        </div>
        <div class="form">
            <form ng-submit="signup()">
                <input type="text" name="" ng-model="fullname" placeholder="Full Name">
                <input type="text" ng-model="email" name="email" placeholder="Email">
                <input type="password" ng-model='password' name="password" placeholder="Password">
                <input type="password" ng-model='password_confirmation' name="password_confirmation" placeholder="Password confirmation">
                <button type="submit" name="submit">Sign up for free</button>
            </form>
        </div>
    </div>
</div>